@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Edit a Client's information</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)

  @Html.LabelFor(model => model.Notes)
  @Html.EditorFor(model => model.Notes)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Edit Client" class="btn btn-success" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>